.orderContainer {
    margin-top: 20px;
    display: flex;
    margin-left: 23%;
}
.containerData {
    width: 100%;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px grey;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
    display: inline-block;
    padding: 0px;
}
.place-order {
    width: 160px;
    height: 60px;
    border-radius: 10px;
    background-color: #7f2b31;
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    margin-left: 40%;
    margin-top: 5px;
}
    