.containerbody {
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.container {
    width: 80%;
    padding: 44px;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px grey;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;

    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px rgb(104, 100, 100);
    
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
}

.card {
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4%;
}

.cardcontent {
    text-align: left;
    margin-left: 4%;
}

.cardtitle {
    font-size: 18px;
    font-weight: 500;
}
.authorname {
    font-size: 12px;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    box-sizing: border-box;
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
      color: #f1f1f1;
      width: 100%;
      padding: 6px;
      margin-bottom: 50%
}



