.img {
    margin: 3% 37% 1%;
}

.confirmationMsg {
    text-align: center;
}

.contactus {
    border-collapse: collapse;
    margin: 2.8% 25% 1%;
}

table, td {
    border: 0.1px solid;
}

table, th, td {
    padding: 10px;
}

.homeButton {
   
}
